body{
  background-color: rgb(231, 231, 231);
}
  h1{
    font-family: libre-franklin, sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 2em;
    margin-bottom: 0%;

}
.button{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
}
p{
  font-family: libre-franklin, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1em;
  margin-bottom: 0%;

}